<template lang='pug'>
  v-app
    v-toolbar(app color='primary')
      v-toolbar-items
        v-btn(to='/' flat)
          img#logo(src='logo.svg' style='height: 50px')
          | D/Tox

      v-spacer

      v-btn(to='/about' icon)
        v-icon info

    v-content
      router-view
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>

<style lang='stylus'>
</style>
