<template lang='pug'>
  v-container

    .background
      video(preload='auto' autoplay='true' loop='loop' muted='muted')
        source(src='meds_lo.m4v' type='video/mp4')

    v-responsive(:aspect-ratio="16/3").header
      h1.display-3.mt-5 Do you know what's good for you?
      p.display-1.mt-3 We've compiled a list of small molecules that are&nbsp;either
        ul
          li
            v-icon(x-large) {{false | iconActivity}}
            |&nbsp;drugs that cure a disease
            |&nbsp;or&nbsp;
          li
            v-icon(x-large) {{true | iconActivity}}
            |&nbsp;carcinogens that will mutate your DNA&nbsp;
        span Can you tell which ones are which?

    v-item-group
      v-btn(
        v-for='m, i in modes'
        :key='i'
        :color='m.color'
        @click='play(m.n)'
        large
        round
        :ref='`play${m.n}`'
        :loading='loading'
      )
        v-icon(v-if='m.icon').pr-1 {{m.icon}}
        | Play {{m.text}}
</template>

<script>
export default {
  data () {
    return {
      modes: [
        {
          text: 'Short and Sweet (5)',
          n: 5
        },
        {
          text: 'Default (10)',
          n: 10,
          color: 'accent',
          icon: 'play_circle_filled'
        },
        {
          text: 'Long (20)',
          n: 20
        }
      ]
    }
  },
  computed: {
    loading () {
      return this.$store.state.loading
    }
  },
  methods: {
    play (nMolecules) {
      this.$store.dispatch('newGame', { nMolecules })
    }
  }
}
</script>

<style lang='stylus'>
body
  width 100%
  height 100%

.background
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  overflow none

  video
    min-width 100%
    min-height 100%
    width auto
    height auto

    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)

    filter blur(5px)

.header
  ul, li
    margin 10pt 0 10pt 3pt
    list-style none
</style>
