<template lang='pug'>
  v-container
    .background.secondary
    v-stepper(:value='currentStep + 1')

      v-stepper-header
        template(v-for='(mol, i) in $store.state.molecules')
          v-stepper-step(
            :step='i + 1'
            :key='mol'
            :complete='i < currentStep'
            :rules='[() => check(i)]'
            :color='color(i)'
          )
          v-divider(v-if='i + 1 < $store.state.molecules.length')

      v-stepper-items
        v-stepper-content(v-for='(mol, i) in $store.state.molecules' :step='i + 1' :key='mol')
          v-card

            div(:class='{flasher: !!flashColor, success: flashColor === "success", error: flashColor === "error"}')

            div(v-if='currentAnswer')
              h3.drug-name
                v-icon(x-large) {{currentAnswer.trueActivity | iconActivity}}

                a(
                  :class='`${color(currentStep)}--text`'
                  :href='currentAnswer.name | detailsURL'
                  target='_blank'
                ) {{currentAnswer.synonyms | shortSynonym}}

                span &nbsp;
                span.your-choice(:class='`${color(currentStep)}--text` + ($vuetify.breakpoint.name === "xs" || $vuetify.breakpoint.name === "sm" ? " d-block" : "")  ') (You picked:&nbsp;
                  v-icon(:color='color(currentStep)') {{currentAnswer.guessedActivity | iconActivity}}
                  span {{currentAnswer.guessedActivity | prettyActivity }}
                  | )

              h4.drug-details {{currentAnswer.indication || currentAnswer.atc || currentAnswer.usan}}&nbsp;

            div(v-else)
              h3.drug-name
                v-icon(x-large) radio_button_unchecked
                span {{ question }}

              h4.drug-details &nbsp;

            .imgbox(v-touch='{ left: () => guess("active"), right: () => guess("inactive"), up: () => next() }')
              img(
                :src='`/api/image/${mol}`'
                max-height="200"
              )

            div(v-if='currentAnswer')
              v-container(grid-list-md)
                v-layout
                  v-flex(xm12)
                    v-btn.accent(@click='next' block round large) {{currentStep + 1 < $store.state.molecules.length ? "Next" : "Finish"}}

              p.my-4
                strong Synonyms:&nbsp;
                span.synonyms {{currentAnswer.synonyms}}

              p
                strong Pro Tip:&nbsp;
                | You can swipe up to go to the next molecule (as long as you are on a touch device).

            div(v-else)
              v-container(grid-list-md)
                v-layout
                  v-flex(xm6)
                    v-btn.accent(@click='guess("active")' :loading='loading' block round large)
                      v-icon smoking_rooms
                      | Kill
                  v-flex(xm6)
                    v-btn.accent(@click='guess("inactive")' :loading='loading' block round large)
                      v-icon local_pharmacy
                      | Cure

              p
                strong Pro Tip:&nbsp;
                | You can swipe left and right on the molecule to select 'Kill' or 'Cure', respectively (as long as you are on a touch device).

</template>

<script>
export default {
  computed: {
    question () { return this.$store.state.question },
    currentStep () { return this.$store.state.currentStep },
    currentAnswer () { return this.$store.getters.currentAnswer },
    currentMolecule () { return this.$store.getters.currentMolecule },
    loading () { return this.$store.state.loading }
  },
  data () {
    return {
      flashColor: null
    }
  },
  mounted () {
    if (this.$store.state.molecules.length === 0) {
      // console.log('refreshed on play - sending back to start')
      this.$router.push('/')
    }
  },
  watch: {
    currentAnswer () {
      if (!this.currentAnswer) { return }
      this.flash(this.color(this.currentStep))
    }
  },
  methods: {
    guess (v) {
      if (this.currentAnswer) { return }
      this.$store.dispatch('makeGuess', {
        moleculeId: this.currentMolecule,
        guess: v
      })
    },
    next () {
      if (!this.currentAnswer) { return }
      if (this.currentStep + 1 < this.$store.state.molecules.length) {
        this.$store.commit('continue')
      } else {
        this.$router.push('report')
      }
    },
    check (i) {
      let a = this.$store.state.answers[i]
      if (!a) { return true }

      if (a.guessedActivity === a.trueActivity) {
        return true
      } else {
        return `guessed: ${a.guessedActivity}, true ${a.trueActivity}`
      }
    },
    color (i) {
      let a = this.$store.state.answers[i]
      if (!a) { return 'primary' }
      if (a.guessedActivity === a.trueActivity) {
        return 'success'
      } else {
        return 'error'
      }
    },
    flash (color) {
      this.flashColor = color

      setTimeout(() => {
        this.flashColor = null
      }, 500)
    }

  }
}
</script>
<style lang='stylus'>
.imgbox
  text-align center
  padding 20px 0

  img
    max-width 100%

.drug-name
  line-height 30px !important
  font-size 24pt

  display block
  text-overflow ellipsis

  i, span
    vertical-align middle

  .your-choice
    font-weight normal
    font-size 70%

@keyframes guess-flash
  0%
    opacity 1
  100%
    opacity 0

.flasher
  position absolute
  left 0
  top 0
  right 0
  bottom 0

  animation-duration 100ms
  animation-fill-mode forwards
  animation-iteration-count 1
  animation-timing-function ease-out
  animation-name guess-flash

.synonyms
  display block
  max-height 60px
  text-overflow ellipsis
  overflow-y auto
</style>
