<template lang='pug'>
  v-container
    h1.display-3 {{message}}
    h3.display-1 You got {{correctAnswers}} out of {{totalAnswers}} correct.

    table.v-table.theme--light(style='text-align: center; margin: 10pt auto')
      thead
        tr
          th
          th Actual "Kill"
          th Actual "Cure"
          th &Sigma;

      tbody
        tr
          th You said "Kill"
          td.success--text: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.tp}} ({{((confusionMatrix.tp) / totalAnswers * 100).toFixed(0)}}%)
            span True Positives (TP)

          td.error--text: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.fp}} ({{((confusionMatrix.fp) / totalAnswers * 100).toFixed(0)}}%)
            span False Positives (FP)

          td: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.tp + confusionMatrix.fp}} ({{((confusionMatrix.tp + confusionMatrix.fp) / totalAnswers * 100).toFixed(0)}}%)
            span Predicted Positives (PP)
        tr
          th You said "Cure"
          td.error--text: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.fn}} ({{((confusionMatrix.fn) / totalAnswers * 100).toFixed(0)}}%)
            span False Negatives (FN)
          td.success--text: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.tn}} ({{((confusionMatrix.tn) / totalAnswers * 100).toFixed(0)}}%)
            span True Negatives (TN)

          td: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.fn + confusionMatrix.tn}} ({{((confusionMatrix.fn + confusionMatrix.tn) / totalAnswers * 100).toFixed(0)}}%)
            span Predicted Negatives (PN)
        tr
          th &Sigma;
          td: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.tp + confusionMatrix.fn}} ({{((confusionMatrix.tp + confusionMatrix.fn) / totalAnswers * 100).toFixed(0)}}%)
            span Positives (P)

          td: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.fp + confusionMatrix.tn}} ({{((confusionMatrix.fp + confusionMatrix.tn) / totalAnswers * 100).toFixed(0)}}%)
            span Negatives (N)

          td: v-tooltip(bottom)
            div(slot='activator') {{confusionMatrix.fp + confusionMatrix.tn + confusionMatrix.tp + confusionMatrix.fn}} (100%)
            span Cases

    v-btn.my-5(large to='/' color='accent' block round) Play again?

    h3.display-2.mt-4 Your Answers in Detail

    v-container(grid-list-md)
      v-layout(wrap :column='$vuetify.breakpoint.name === "xs" || $vuetify.breakpoint.name === "sm"')
        v-flex(xs6 v-for='a, i in $store.state.answers' :key='i' )

          v-card().my-4
            v-img(:src='`/api/image/${a.moleculeId}`' contain height='100' :class='`${colorForAnswer(a)} lighten-5`')
            v-divider
            v-card-title(primary-title :class='colorForAnswer(a) + "--text"').pt-3.pb-0
              div.headline
                v-icon(:color='colorForAnswer(a)') {{a.trueActivity | iconActivity}}
                span {{a.synonyms | shortSynonym}}
            v-card-text
              p {{a.indication || a.atc || a.usan}}&nbsp;
              div
                strong You chose:&nbsp;
                v-icon {{a.guessedActivity | iconActivity}}
                | {{a.guessedActivity | prettyActivity}}

            v-card-actions
              v-spacer
              v-btn(flat icon color="accent" :href='a.name | detailsURL' target='_blank'): v-icon info
</template>

<script>

const MESSAGES = [
  {
    threshold: 0.0,
    message: 'An achievement of itself!'
  },
  {
    threshold: 0.3,
    message: 'Were you even trying?'
  },
  {
    threshold: 0.5,
    message: 'Half right!'
  },
  {
    threshold: 0.6,
    message: 'Not bad!'
  },
  {
    threshold: 0.8,
    message: 'Good job!'
  },
  {
    threshold: 0.9,
    message: 'Impressive!'
  },
  {
    threshold: 1.0,
    message: 'Perfect!'
  }
]

export default {
  computed: {
    totalAnswers () {
      return this.$store.state.answers.length
    },
    correctAnswers () {
      return this.$store.state.answers.filter((a) => a.guessedActivity === a.trueActivity).length
    },
    confusionMatrix () {
      const predicates = {
        tp: (g, t) => g && t,
        tn: (g, t) => !g && !t,
        fp: (g, t) => g && !t,
        fn: (g, t) => !g && t
      }

      let out = {}
      for (const [k, pred] of Object.entries(predicates)) {
        out[k] = this.$store.state.answers.filter((a) => pred(a.guessedActivity, a.trueActivity)).length
      }

      return out
    },
    message () {
      let ratio = this.correctAnswers / this.totalAnswers
      return MESSAGES.filter((m) => m.threshold >= ratio)[0].message
    }
  },
  mounted () {
    if (this.$store.state.answers.length < this.$store.state.molecules.length || this.$store.state.molecules.length === 0) {
      // console.log('refreshed on report - sending back to start')
      this.$router.push('/')
    }
  },
  methods: {
    colorForAnswer (a) {
      return a.guessedActivity === a.trueActivity ? 'success' : 'error'
    }
  }
}
</script>
<style lang='stylus'>
  .headline
    text-overflow ellipsis
    overflow hidden

  .v-table

    td, th
      padding 0 5px !important
</style>
